{% extends "layout.html" %}
{% block content %}
  <h2>Add a Query</h2>
  <div id="form-error" class="hidden">
    Errors
    <ul id="error-list">
    </ul>
  </div>
  <form class="form-inline" action="{{ url_for('new_query') }}" method="post" name="query-form" onsubmit="submitQuery()">
    <h5>Your Query <small>subject and verb required</small></h5>
    <input class="form-control" placeholder="subject" name="subject"></input>
    <input class="form-control" placeholder="verb" name="verb"></input>
    <input class="form-control" placeholder="direct object" name="direct-object"></input>
    <input class="form-control" placeholder="indirect object" name="indirect-object"></input>
    <input class="form-control" placeholder="location" name="location"></input>
    <h5>Your Contact Information <small>phone number or email required</small></h5>
    <input class="form-control" placeholder="email" name="user-email"></input>
    <input class="form-control" placeholder="phone number" name="user-phone"></input>
    <br><br>
    <button class="btn btn-primary" type="submit">Add Query</button>
  </form>

  <h2>Current Queries</h2>
  <table class="table table-striped">
    <thead>
      <th>Subject</th>
      <th>Verb</th>
      <th>Direct Object</th>
      <th>Indirect Object</th>
      <th>Location</th>
      <th>Matched</th>
      <th>View Info</th>
    </thead>
    <tbody>
      {% for query in queries %}
        <tr>
          <td>{{ query["subject"] }}</td>
          <td>{{ query["verb"] }}</td>
          <td>{{ query["direct_obj"] }}</td>
          <td>{{ query["indirect_obj"] or "" }}</td>
          <td>{{ query["loc"] or "" }}</td>
          {% if query["article_count"] != 0 %}
            <td><i class="fa fa-check"></i></td>
          {% else %}
            <td><i class="fa fa-times"></i></td>
          {% endif %}
          <td><a href="{{ url_for('query', query_id=query['id']) }}" class="btn btn-default btn-sm">View Info</a>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
