__pycache__/
doc
bin
.classpath
articles
Testing/articles_test
venv/
*.pyc
.DS_STORE
eclipse.userlibraries
event-detection.jar
*.class
.idea/
*.iml
validator.jar
text-rank.jar
pipeline.jar
voting.jar
Testing/articles_test/
stop-words.txt
Utils/Secrets.py
WordNet-JWI
